<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>{{category.TITLE}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor='let p of MoreProducts$' (click)='poceedToProductDetails(p)'>
         <ion-thumbnail item-left>
           <img [src]='p.IMG_URL'>      
         </ion-thumbnail>    
         <h2>{{p.TITLE}}</h2>
         <p>
           <span [innerHTML]="p.DESCRIPTION.substring(0,20) + '...'"></span><br/>
           <span [innerHTML]='p.PRICE'></span>
         </p>
         <button ion-button clear icon item-right>
           <ion-icon name='arrow-forward'></ion-icon>  
         </button>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="getMoreProducts($event)">
         <ion-infinite-scroll-content></ion-infinite-scroll-content>
       </ion-infinite-scroll>
</ion-content>